.body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.task {
	text-align: center;
	border: solid ;
	background-color: #FFFFCC;
	display:inline-block;
	cursor:pointer;
}

.taskContainer {
	display:grid;
	justify-content: flex-start;
	width:100%%;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main{
	display:flex;
	justify-content: flex-start;
}

.tableContainer{
	flex-grow: 5
}

.sprintInfo {
	flex-grow: 1;
	border: 1px solid #E0E0E0;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
}

#notStartedArea {
	display:flex;
	justify-content: center;
}